@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
  font-family: 'Raleway', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000039;
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 0;
}

.indexText {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
}

h5 { 
  font-family: "Raleway", sans-serif;
  margin: 0.33em;
}

button {
  color: black;
  font-family: 'Raleway', Helvetica, Arial,sans-serif;
  border-radius: 5px;
  padding: 0.33em;
  max-height: auto;
  cursor: pointer;
  background: none;
  border: none;
}

button:hover{
  transform: scale(1.06);
  color: #747bff;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;      
}


@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: aliceblue; */
  }
}

.link {
  color: white;
  margin: 2em;
}

link:hover{ color: #747bff;
}

/* cite from vue docs */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.66s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.33s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.33s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}