@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

:root {
  font-family: 'Raleway', serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h3, h4 {
  font-family: Helvetica, Arial, sans-serif;
}

h5 { 
  font-family: "Raleway", sans-serif;
  margin: 0.33em;
}

button {
  background-color: aliceblue; 
  color: black;
  font-family: 'Raleway', Helvetica, Arial,sans-serif;
  border-radius: 5px;
  max-height: auto;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em;
  text-align: center;      
}

button {
  font-family: "Raleway", serif;
  /* padding-top: 0.33em; */
  /* padding-bottom: 0.33em; */
  padding: 0.33em;
  background-color: aliceblue;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: aliceblue;
  }
}

.link {
  color: white;
  margin: 2em;
}

link:hover{ color: white
}